.btn{
  transition: all;
  transition-duration: 0.25s;
}
.btn:hover{
  transform: scale(1.1);
}
.btn:active{
  transform: scale(0.8);
}
.power-icon {
  fill: #ffffff; /* Initial color */
  transition: fill 0.2s ease; /* Smooth transition */
}
.btn:hover .powerOff{
  fill: #ffffff;
}